gradio # not needed if some other UI lib is used
mistralai # not needed if openai is used
langchain_core # for PromptTemplate
python-docx # for doc parsing
pypdf # for pdf parsing
python-dotenv # for env vars
#cassio # for astra db access
tavily-python # for web search tool
langgraph # for agent graph
pydantic-settings
pytest # for testing
langchain_community # for PyPDFLoader, Docx2txtLoader
langchain_huggingface # for HuggingFaceEmbeddings in Chroma
setuptools # for Chroma in windows
chroma
langchain_chroma # for Chroma
fastembed # for FastEmbedEmbeddings